.cart-dropdown {
    all:unset;
    position: absolute;
    width: 50%;
    height: 85%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 60px;
    right: 20px;
    z-index: 5;
  
  }
  .checkout-btn{
    width: 100%;
    position: relative;
    margin-bottom: 2%;
  }
  
  .cartMsg{
    margin-top: 5%;
    text-align: center;
  }