.cart-dropdown {
    all:unset;
    position: absolute;
    width: 40%;
    height: 85%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 60px;
    right: 20px;
    z-index: 5;
  
  }
  .checkout-btn{
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    background-color: orange;
  }
  .cart-drop-btns{
    background-color: orange;
    margin: 3%;
    border-radius: 20%;
  }
  
  .cart-drop-btn{
    background-color: orange;
    border-radius: 20%;
  }
  
  .cartMsg{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background-color: lightgray;
  }
  .cartMsgAdd{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background-color: lightgray;
  }
  .cart-item-img {
    width: 20%;
  }

  .cart-item-details{
    width: 80%;
    float: left;
    padding: 20px;
    padding-top: 40px;
  }
  
  .cart-item-img img{
    width: 100%;
    height: 200px;
    float: left;
  }
  @media(max-width: 992px) {
    .cart-item-img {
      width: 40%;
    }
  
    .cart-item-details{
      width: 60%;
      float: left;
      padding: 0px;
      padding-top: 60px;
    }
    
    .cart-item-img img{
      width: 100%;
      float: left;
    }
  }