.checkout-heading{
    text-align: center;
}

.justify-content-center {
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.form{
    padding-left: 0px;
}

.row{

    margin-left: 0px !important;
}
.checkout-msg{
    margin-top: 10%;
    text-align: center;
}