.header_main{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    background-color: orange;
}

.header_input{
    width: 100%;
    border-radius: 20px;
    outline: none;
    font-size: large;
    
}

.header_ul{
    list-style: none;
    font-size: 1rem;
    height: 100%;
    margin: 0px;
}
.header_li{   
    margin-left: 28px;
    padding-top: 8px;
    float: right;
    font-size: 1.5rem;
}
.header_li:hover{
    background-color: white;
    height: 100%;
}
.header_nav_icon{
    display:none;
}
@media(max-width:1250px)
{
    .header_li{   
        display: none;
    }
    .header_h1{
        font-size: 1.5rem;
    }
    .header_nav_icon{
        font-size: 1.5rem;
        text-align: right;
        display:block;
    }
}